{% extends "gruene_v1.html" %}
{% load cms_tags menu_tags sekizai_tags static i18n django_bootstrap5 %}
{% block page_subtitle %}
  <a class="text-white" href="/">{% page_attribute "title" request.current_page.get_root %}</a>
  {% show_breadcrumb 1 "gruene_cms/breadcrumb.html" %}

  <!-- {% page_attribute "page_title" %} -->
{% endblock %}

{% block content %}
  <div class="container pt-5">
    <div class="row">
      <div class="col col-12">
        <div class="d-flex">
          <div class="me-auto"><h2 class="">Aufgaben</h2></div>
          <div class=""><p><a href="{% url 'gruene_cms_dashboard:task_add' %}" class="btn btn-outline-primary">Neue Aufgabe</a> </p></div>
        </div>

        <table class="table align-middle">
          <thead>
            <tr>
              <th>ID</th>
              <th>Erstellt</th>
              <th>Aufgabe</th>
              <th>Zuordnungen</th>
              <th>Fortschritt</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in object_list %}
              <tr class="{{ obj.get_priority_table_css_class }}">
                <td scope="row">
                  <a href="{% url 'gruene_cms_dashboard:task_edit' obj.pk %}">#{{ obj.pk }}</a>
                </td>
                <td>
                  {{ obj.created_at|date:"d.m." }}
                </td>
                <td>{{ obj.summary }}</td>
                <td>
                  <ul>
                    {% for user in obj.assigned_to_users.all %}
                      <li>{{ user.get_full_name|default:user.get_username }}</li>
                    {% endfor %}
                  </ul>
                </td>
                <td>
                  <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="{{ obj.progress }}" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ obj.progress }}%"></div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>


      </div>
    </div>
  </div>
{% endblock %}