{% extends "gruene_v1.html" %}
{% load cms_tags menu_tags sekizai_tags static i18n django_bootstrap5 markdownify %}
{% block page_subtitle %}
  <a class="text-white" href="/">{% page_attribute "title" request.current_page.get_root %}</a>
  {% show_breadcrumb 1 "gruene_cms/breadcrumb.html" %}

  <!-- {% page_attribute "page_title" %} -->
{% endblock %}

{% block content %}
  <div class="container-full my-5 mx-5">
    <div class="row ">
      <div class="col col-12 ">
        <div class="d-md-flex shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="me-auto">
              <h2 class="text-truncate mb-0">
                {{ object.title|default:requested_file }}
              </h2>
            </div>
            <div class="">
              <p class="mb-0">

                <span class="small">Dateityp: {{ content_type|default:"Ordner" }}</span>

                {% if file_exists %}
                  <a class="btn btn-outline-primary" href="{% url 'gruene_cms_dashboard:webdav_serve_local_file' object.pk %}?path={{ requested_file }}">Download</a>
                  <a class="btn btn-outline-primary" href="{% url 'gruene_cms_dashboard:webdav_serve_local_file' object.pk %}?path={{ requested_file }}">Upload</a>
                {% else %}
                  <a class="btn btn-outline-primary" href="{% url 'gruene_cms_dashboard:webdav_serve_local_file' object.pk %}?path={{ requested_file }}">Upload</a>
                  <a class="btn btn-outline-primary" href="{% url 'gruene_cms_dashboard:webdav_serve_local_file' object.pk %}?path={{ requested_file }}">+ Ordner</a>
                {% endif %}


              </p>
            </div>
          </div>
      </div>
    </div>
    <div class="row-cols-1 row g-5 row-cols-xxl-4 row-cols-md-12 row-cols-lg-2 row-cols-sm-1 row-cols-xl-2">
      <div class="col-xxl-3 col col-lg-12 overflow-auto">

        <h3>{{ object.entry_path_title|default:object.entry_path }}</h3>
        {% include 'gruene_cms/plugins/local_folder_node.html' with hide_expand_hint=True show_root_node=False tree_items=tree_items current_item=requested_file extra_css_classes='folder-list small' %}


      </div>

      {% if is_image or is_embed or html_content or contacts %}

        <div class="col-xxl-9 col col-lg-12 overflow-auto">
          {% if is_image %}
            <img src="{% url 'gruene_cms_dashboard:webdav_serve_local_file' 1 %}?path={{ requested_file }}">
          {% endif %}
          {% if is_embed %}
            <embed src="{% url 'gruene_cms_dashboard:webdav_serve_local_file' 1 %}?path={{ requested_file }}" type="{{ content_type }}" width="100%" height="1000">
          {% endif %}
          {% if html_content %}
            {% if is_markdown %}
              {{ html_content|markdownify }}
            {% else %}
              {{ html_content|safe }}
            {% endif %}
          {% endif %}
          {% if contacts %}
            <h3>Kontakte</h3>
            <div class="container-full">
              <div class="row g-4">
                {% for c in contacts %}
                  <div class="col col-sm-12 col-lg-4 col-xl-4">
                    <div class="card mb-3" style="max-width: 540px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="{{ c.photo.value|default:"/static/images/sunflower.svg" }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">{{ c.fn.value }}</h5>
                            <p class="card-text small">
                              <i class="fa fa-phone"></i>
                              {% for t in c.tel_list %}
                                <a href="tel:{{ t.value }}">{{ t.value }}</a>
                              {% endfor %}
                            </p>
                            <p class="card-text small">
                              <i class="fa fa-address-card"></i>
                              {% for t in c.adr_list %}
                                <a href="tel:{{ t.value }}">{{ t.value }}</a>
                              {% endfor %}
                            </p>
                            <p class="card-text small">
                              <i class="fa fa-envelope"></i>
                              {% for email in c.email_list %}
                                <a href="mailto:{{ email.value }}">{{ email.value }}</a>
                              {% endfor %}
                            </p>
                            <p class="card-text">
                              <small class="text-muted">
                                {% for c in c.categories.value %}
                                  {{ c }}
                                {% endfor %}
                              </small>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% comment %}
                    <p class="small"><code>{{ c }}</code></p>
                    {% endcomment %}
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>


  <div class="container pt-5">
    <div class="row">
      <div class="col col-12">


      </div>
      <div class="col-12">

      </div>
    </div>
  </div>

  

{% endblock %}
{% block js_end %}
<script>
	$(function () {
		$('.level-2').show();
    $('.level-3').show();
    $('.level-4').show();
	});
	</script>
{% endblock %}
