{% extends "gruene_v1.html" %}
{% load cms_tags menu_tags sekizai_tags static i18n django_bootstrap5 markdownify %}
{% block page_subtitle %}
  <a class="text-white" href="/">{% page_attribute "title" request.current_page.get_root %}</a>
  {% show_breadcrumb 1 "gruene_cms/breadcrumb.html" %}

  <!-- {% page_attribute "page_title" %} -->
{% endblock %}

{% block content %}
  <div class="container-full my-5 mx-5">
    <div class=" d-print-none row">
      <div class="col col-12 ">
        <div class="d-md-flex shadow p-3 mb-5 bg-body-tertiary rounded">
            <div class="me-auto">
              <h2 class="text-truncate mb-0">
                {{ object.title|default:requested_file }}
              </h2>
              {% comment %}
              <p><code>{{ full_path_splitted }}</code></p>
              {% endcomment %}
            </div>
            <div class="">
              <p class="mb-0">

                <span class="small">Dateityp: {{ content_type|default:"Ordner" }}</span>

                {% if file_exists %}
                  <a class="btn btn-outline-primary" href="{% url 'gruene_cms_dashboard:webdav_serve_local_file' object.pk %}?path={{ requested_file }}">Download</a>

                  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">
                    Upload / + Ordner
                  </button>
                {% else %}
                  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">
                    Upload / + Ordner
                  </button>
                {% endif %}

                {% if next_file %}
                  <a class="btn btn-outline-secondary" href="{% url 'gruene_cms_dashboard:webdav_view_local_file' object.pk %}?path={{ next_file }}">
                    <i class="fa fa-long-arrow-left"></i>
                  </a>
                {% endif %}
                {% if previous_file %}
                  <a class="btn btn-outline-secondary" href="{% url 'gruene_cms_dashboard:webdav_view_local_file' object.pk %}?path={{ previous_file }}">
                    <i class="fa fa-long-arrow-right"></i>
                  </a>
                {% endif %}


              </p>
            </div>
          </div>
      </div>
    </div>
    <div class="row-cols-1 row g-5 row-cols-xxl-4 row-cols-md-12 row-cols-lg-2 row-cols-sm-1 row-cols-xl-2">
      <div class="d-print-none col-xxl-3 col col-lg-12 overflow-auto">

        <h3>{{ object.entry_path_title|default:object.entry_path }}</h3>
        {% include 'gruene_cms/plugins/local_folder_node.html' with hide_expand_hint=True show_root_node=False tree_items=tree_items current_item=requested_file extra_css_classes='folder-list small' %}

      </div>

      {% if is_image or is_embed or is_audio or html_content or contacts %}

        <div class="col-xxl-9 col col-lg-12 overflow-auto">
          {% if is_image %}
            <img src="{% url 'gruene_cms_dashboard:webdav_serve_local_file' webdav_client_object.pk %}?path={{ requested_file }}">
          {% endif %}
          {% if is_embed %}
            <embed src="{% url 'gruene_cms_dashboard:webdav_serve_local_file' webdav_client_object.pk %}?path={{ requested_file }}&is_embed=on" type="{{ content_type }}" width="100%" height="1000">
          {% endif %}
          {% if is_audio %}
            <h4>Audiodatei abspielen</h4>
            <audio controls>
              <source src="{% url 'gruene_cms_dashboard:webdav_serve_local_file' webdav_client_object.pk %}?path={{ requested_file }}&is_embed=on" type="{{ content_type }}">
            Your browser does not support the audio element.
            </audio>
          {% endif %}
          {% if html_content %}
            {% if is_markdown %}
              {{ html_content|markdownify }}
            {% else %}
              {{ html_content|safe }}
            {% endif %}
          {% endif %}
          {% if contacts %}
            <h3>Kontakte</h3>
            <div class="container-full">
              <div class="row g-4">
                {% for c in contacts %}
                  <div class="col col-sm-12 col-lg-4 col-xl-4">
                    <div class="card mb-3" style="max-width: 540px;">
                      <div class="row g-0">
                        <div class="col-md-4">
                          <img src="{{ c.photo.value|default:"/static/images/sunflower.svg" }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">{{ c.fn.value }}</h5>
                            <p class="card-text small">
                              <i class="fa fa-phone"></i>
                              {% for t in c.tel_list %}
                                <a href="tel:{{ t.value }}">{{ t.value }}</a>
                              {% endfor %}
                            </p>
                            <p class="card-text small">
                              <i class="fa fa-address-card"></i>
                              {% for t in c.adr_list %}
                                <a href="tel:{{ t.value }}">{{ t.value }}</a>
                              {% endfor %}
                            </p>
                            <p class="card-text small">
                              <i class="fa fa-envelope"></i>
                              {% for email in c.email_list %}
                                <a href="mailto:{{ email.value }}">{{ email.value }}</a>
                              {% endfor %}
                            </p>
                            <p class="card-text">
                              <small class="text-muted">
                                {% for c in c.categories.value %}
                                  {{ c }}
                                {% endfor %}
                              </small>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% comment %}
                    <p class="small"><code>{{ c }}</code></p>
                    {% endcomment %}
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
      {% endif %}

      {% if is_dir %}
        <div class="col-xxl-9 col col-lg-12 overflow-auto">
          <h3>Inhalt des Ordners</h3>
          {% for folder_object in folder_objects %}
            <div class="d-flex p-2 border-bottom">
              <div class="me-auto">
                <a href="{% url 'gruene_cms_dashboard:webdav_view_local_file' object.pk %}?path={{ folder_object.path }}">
                  <i class="fa fa-{{ folder_object.type }}"></i>
                  {{ folder_object.name }}
                </a>
              </div>
              <div class="text-end">
                <span class="small text-muted">{{ folder_object.modified|date:"d.m.Y H:i" }}</span>                  
              </div>
            </div>
          {% endfor %}
        </div>  
      {% endif %}
    </div>
  </div>


  <div class="container pt-5">
    <div class="row">
      <div class="col col-12">


      </div>
      <div class="col-12">

      </div>
    </div>
  </div>

<form action="{% url 'gruene_cms_dashboard:webdav_upload_file' object.pk %}" enctype="multipart/form-data" method="post">
  <div class="modal fade" id="uploadModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadModalLabel">Upload</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schliessen"></button>
        </div>
        <div class="modal-body">
            {% csrf_token %}
            {% bootstrap_form upload_form layout='floating' %}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
          {% bootstrap_button button_type="submit" content="Speichern" %}
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock %}
{% block js_end %}
<script>
	$(function () {
		//$('.level-2').show();
    //$('.level-3').show();
    //$('.level-4').show();
    {% for sp in full_path_splitted %}

    {% endfor %}
	});
	</script>
{% endblock %}
