{% extends "gruene_v1.html" %}
{% load cms_tags menu_tags sekizai_tags static i18n %}
{% block page_subtitle %}
  <a class="text-white" href="/">{% page_attribute "title" request.current_page.get_root %}</a>
  {% show_breadcrumb 1 "gruene_cms/breadcrumb.html" %}

  <!-- {% page_attribute "page_title" %} -->
{% endblock %}

{% block content %}

  <div class="container pt-5">
    <div class="row">
      <div class="col col-12">
        <h2 class="pb-5">Suche</h2>
        <form action="" method="post" id="search">
          {% csrf_token %}
          <div class="row g-3 align-items-baseline">
            <div class="col-auto">
              <label for="id_q" class="col-form-label">Suche nach</label>
            </div>
            <div class="col-8">
              {{ form.q }}
              <span id="id_q_helptext" class="form-text">
                {{ form.q.help_text }}
              </span>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">Suchen</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% if has_results %}
    <div class="container pt-5">
      <div class="row">
        <div class="col col-12">
          <h2 class="pb-5">Ergebnisse</h2>
          {% if cal_qs.exists %}
            <div class="pb-5">
              <h3 class="">Kalender</h3>
              {% include 'gruene_cms/plugins/calendar_node_table_2.html' with calendar_items=cal_qs %}
            </div>
          {% endif %}

          {% if news_qs.exists %}
            <h3 class="">News</h3>
            {% include 'gruene_cms/plugins/news_card_v2_node.html' with news_items=news_qs instance=news_instance %}
          {% endif %}

        </div>
      </div>
    </div>
  {% else %}
    {% if is_post %}
      <div class="container pt-5">
        <div class="row">
          <div class="col col-12">
            <div class="alert alert-secondary" role="alert">
              Leider keine Treffer.
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}

  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col col-12">
        <div class="card shadow-sm">
          <div class="card-header">
            <h2 class="card-title small mb-0">
              News Schlagworte
            </h2>
          </div>
          <div class="card-body">
            <div class="keywords mt-3">
              <ul>
                {% for kw in news_keywords %}
                  <li  class="m-1">
                    <a class="keyword post-to-search" href="#" rel="tag" data-search="{{ kw }}">{{ kw }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
      $(document).ready(function() {
          $('.post-to-search').click(function(e) {
              e.preventDefault();
              $('#search input[name="q"]').val($(this).attr('data-search'));
              $('#search').submit();
          });
      });
    </script>

{% endblock %}