/* header: fix logo / name distance */

/* Bootstrap/Sunflower fixes */

.theme--default .bloginfo h2 {
	font-family: "PT Sans";
}

span.aggregated-data-timestamp {
    font-size: 0.7rem;
    /* vertical-align: sub; */
    font-family: 'PT Sans';
}

.questa_slab {
    font-family: 'Questa Slab' !important;
}

footer .radial-main a, footer .radial-main a:hover, footer .radial-main a:focus, footer .radial-main a:active {
    color: #fff;
    text-decoration-line: underline;
    text-decoration-color: #FFF17A;
}

/* Footer + Radial */

footer .radial-main a:hover {
    color: #fff;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
}

/* Footer Header */
.theme--default footer h3 {
    font-family: 'GrueneType';
}

/* Radial Backgrounds, from https://www.gruene-bundestag.de/ footer */

.radial-main {
    background: #067840;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.radial-bg-1 {
    background-image: radial-gradient(circle closest-side at center, #01a147 0, #01a647 8%, rgba(61, 149, 186, 0) 100%);
    background-repeat: no-repeat;
    bottom: 60%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    right: -2%;
    transform: translate(50%, 50%);
    width: 100%;
}

.radial-bg-2 {
    background-image: radial-gradient(circle closest-side at center, #3d95ba 0, #3d95ba 33%, rgba(61, 149, 186, 0) 100%);
    background-repeat: no-repeat;
    height: 180%;
    pointer-events: none;
    position: absolute;
    right: -5%;
    top: 0;
    transform: translate(50%, -50%);
    width: 100%;
}

.radial-bg-3 {
    background-image: radial-gradient(circle closest-side at center, #6eb22a 0, #79ba28 20%, rgba(61, 149, 186, 0) 100%);
    background-repeat: no-repeat;
    height: 190%;
    left: -10%;
    pointer-events: none;
    position: absolute;
    top: 114%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/* Custom elements: Raute-Hintergrund */

.decoration-primary:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    background: #005437;
    width: 100vw;
    height: 125%;
    right: 0;
    top: 50%;
    transform: skewX(-12deg) translateY(-50%);
}

.decoration-primary {
    position: relative;
    z-index: 0;
    /*cursor: pointer;*/
    display: inline-block;
    padding-right: 2.5rem;
    color: #fff;
}

.decoration-primary .btn {
    vertical-align: top;
}

.decoration-primary a {
    color: #fff;
    text-decoration: underline;
}

.decoration-primary a:active, .decoration-primary a:hover {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #6eb22a;
}

/* Custom elements: Edding-Marker */
/* Highlighted class, see https://afd-verbot.jetzt/de/abgeordnetentool for example */
.highlighted {
    position: relative;
    display: inline-block;
    /* font-weight: 900; */
}
.highlighted:after {
    content: "";
    position: absolute;
    z-index: -1;
    margin-left: -2%;
    top: 30%;
    left: 0;
    height: 70%;
    width: 104%;
    transform: skewY(-4deg);
    transform-origin: left bottom;
    background: #FFF17A; /* Hier eine GRÜNE Farbe */
}

.highlighted.tanne {
    color: #F5F1E9;
}

.highlighted.tanne:after {
	background: #005538;
}

.highlighted.klee:after {
	background: #008939;
}

.highlighted.grashalm:after {
	background: #8ABD24;
}

.highlighted.sand:after {
	background: #F5F1E9;
}

.highlighted.himmel:after {
	background: #0BA1DD;
}

.highlighted.sonne:after {
	background: #FFF17A;
}

.highlighted.pink:after {
	background: #ff6dae;
}

/* "rich-text" aka Marker Link */
:root {
    --mark-height: 0.8em;
    --mark-color: #fff17a;
    --mark-skew: calc(var(--mark-height) / 100 * 22.5);
    --mark-overlap: 0.3em
}
.rich-text a {
    cursor: pointer;
    --tw-text-opacity: 1;
    color: rgb(0 84 55/var(--tw-text-opacity));
    text-decoration-line: underline;
    text-underline-offset: 4px
}

.rich-text a:active,.rich-text a:hover {
    text-decoration-line: none;
    margin-inline:calc(var(--mark-overlap) * -1);padding-inline: var(--mark-overlap);
    background-color: transparent;
    background-image: linear-gradient(to bottom right,transparent 0 50%,var(--mark-color) 50% 100%),linear-gradient(var(--mark-color),var(--mark-color)),linear-gradient(to top left,transparent 50%,var(--mark-color) 50%);
    background-size: calc(var(--mark-skew)) calc(var(--mark-height)),calc(100% - var(--mark-skew) * 2 + .5px) var(--mark-height),calc(var(--mark-skew)) var(--mark-height);
    background-position: 0 100%,bottom,100% 100%;
    background-repeat: no-repeat;
    color: inherit;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone
}

.rich-text a:visited {
    --tw-text-opacity: 1;
    color: rgb(0 84 55/var(--tw-text-opacity));
    text-decoration-line: underline;
    text-underline-offset: 4px
}

/* Custom elements: Sonnenblumen-Hintergrund */

.sunflower-background {
    background-image: url(/static/images/sunflower.jpg);
    position: relative;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    overflow: hidden;
    padding: 3.5rem 0;
}

.sunflower-background h1 {
    color: #fff;
    text-shadow: 0 5px 15px black;
}

/* Bootstrap: Carousel fixes */

.carousel-caption {
    background-color: #005437;
    opacity: 0.91;
}

/* Bootstrap: Alert fixes */

.alert p {
    margin-bottom: 0;
}

/* Bootstrap: Navigation / Pagetree class="subpages" */
nav.subpages.navbar-light .navbar-nav > .nav-item {
    border-bottom: 4px solid #005437;
}

nav.subpages.navbar-light .navbar-nav > .nav-item:hover {
    border-bottom: 4px solid #0BA1DD;
}

nav.subpages.justify-content-center .navbar-collapse {
    justify-content: center;
}


/* gruene_cms Calendar Plugin */

.calendarnode {
    padding-top: 0.44rem;
}

/* gruene_cms News Plugin */

.news-table .news-summary p, .news-table .news-title, .news-table .news-subtitle, .news-table .news-meta {
    font-size: smaller;
}

.news-table .news-meta {
    font-size: small;
}

.theme--default h2.news-subtitle {
    font-family: 'Questa Slab';
}

/* gruene_cms WebDAV Plugin */

.folder-list li.folder {
    list-style-image: url('/static/images/Icons-mini-folder.gif');
}

.folder-list li.file {
    list-style-image: url('/static/images/Icons-mini-page_text.gif');
}

.folder-list li.image {
    list-style-image: url('/static/images/Icons-mini-image.gif');
}

.folder-list li > ul, .folder-list li > ol {
    margin-bottom: 0;
    margin-left: 0;
}

/* accordion */

.accordion-button {
    padding: 0.25rem 1rem;
}

.accordion-header {
    opacity: 0.25;
}

.accordion-header:hover {
    opacity: 1;
}

/* Gruenen CMS Simple Menu */
nav.subpages.navbar-light .navbar-nav > .nav-item.active {
    border-bottom: 4px solid #0BA1DD;
}

/* missing bootstrap styles */

.font-weight-light {
    font-weight: 100 !important;
}

/* Media Querys - overwriting existing styles */


/* Small	sm	≥576px */
@media (min-width: 768px) {
    
}

/* Medium	md	≥768px */
@media (min-width: 768px) {
    .bloginfo .img-container {
        margin-right: 1.25rem;
    }
    
    .decoration-primary {
        padding-right: 3.75rem;
    }
    h4, .h4 {
        font-size: 24px;
    }

    h5, .h5 {
        font-size: 22px;
    }

    img.news-image {
        max-width: 100%;
        /*max-width: 50vw;*/
        /*max-width: 50%;*/
    }
    
    .radial-bg-1 {
        bottom: -6%;
        right: 10%;
    }
    .radial-bg-2 {
        right: -5%;
        top: 0;
    }
    .radial-bg-3 {
        left: -7%;
        top: -25%;
    }

    .meta-seperator {
        padding-left: 0.5rem;
    }
}

/* Large	lg	≥992px */
@media (min-width: 992px) {
    .decoration-primary {
        padding-right: 5rem;
    }
    .navbar-light .navbar-nav > .nav-item.active {
        border-bottom: 4px solid #005437;
    }
    .navbar-light .navbar-nav .nav-link.active {
        color: #005437;
    }
    img.news-image {
        max-width: 50vw;
    }
    .radial-bg-1 {
        bottom: -15%;
        right: 8%;
    }
    .radial-bg-2 {
        right: -15%;
        top: -20%;
    }
    .radial-bg-3 {
        left: -27%;
        top: -27%;
    }

    .decoration-primary.w-200:before {
    width: 200% !important;
    }

    .decoration-primary.w-105:before {
        width: 105% !important;
    }
}

/* Extra large	xl	≥1200px */

@media (min-width: 1200px) {
    img.news-image {
        max-width: 40vw;
    }
    .radial-bg-1 {
        bottom: -20%;
        right: 5%;
    }
    .radial-bg-2 {
        right: -5%;
        top: -20%;
    }
    .radial-bg-3 {
        left: -10%;
        top: -21%;
    }
}

/* Extra extra large	xxl	≥1400px */
@media (min-width: 1400px) {
    img.news-image {
        max-width: 40%;
    }
}