/* header: fix logo / name distance */

@media (min-width: 992px) {
    .decoration-primary {
        padding-right: 5rem;
    }
    .navbar-light .navbar-nav > .nav-item.active {
        border-bottom: 4px solid #005437;
    }
    .navbar-light .navbar-nav .nav-link.active {
        color: #005437;
    }
}


@media (min-width: 768px) {
    .bloginfo .img-container {
        margin-right: 1.25rem;
    }
    
    .decoration-primary {
        padding-right: 3.75rem;
    }
    h4, .h4 {
        font-size: 24px;
    }

    h5, .h5 {
        font-size: 22px;
    }
}

.theme--default .bloginfo h2 {
	font-family: "PT Sans";
}

span.aggregated-data-timestamp {
    font-size: 0.7rem;
    /* vertical-align: sub; */
    font-family: 'PT Sans';
}


.decoration-primary:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    background: #005437;
    width: 100vw;
    height: 125%;
    right: 0;
    top: 50%;
    transform: skewX(-12deg) translateY(-50%);
}


.decoration-primary {
    position: relative;
    z-index: 0;
    /*cursor: pointer;*/
    display: inline-block;
    padding-right: 2.5rem;
    color: #fff;
}

.sunflower-background {
    background-image: url(/static/images/sunflower.jpg);
    position: relative;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    overflow: hidden;
    padding: 3.5rem 0;
}

.sunflower-background h1 {
    color: #fff;
    text-shadow: 0 5px 15px black;
}


.carousel-caption {
    background-color: #005437;
    opacity: 0.91;
}

.calendarnode {
    padding-top: 0.44rem;
}

.alert p {
    margin-bottom: 0;
}

