/* header: fix logo / name distance */


/* Small	sm	≥576px */
@media (min-width: 768px) {

}

/* Medium	md	≥768px */
@media (min-width: 768px) {
    .bloginfo .img-container {
        margin-right: 1.25rem;
    }
    
    .decoration-primary {
        padding-right: 3.75rem;
    }
    h4, .h4 {
        font-size: 24px;
    }

    h5, .h5 {
        font-size: 22px;
    }

    img.news-image {
        max-width: 100%;
        /*max-width: 50vw;*/
        /*max-width: 50%;*/
    }
}

/* Large	lg	≥992px */
@media (min-width: 992px) {
    .decoration-primary {
        padding-right: 5rem;
    }
    .navbar-light .navbar-nav > .nav-item.active {
        border-bottom: 4px solid #005437;
    }
    .navbar-light .navbar-nav .nav-link.active {
        color: #005437;
    }
    img.news-image {
        max-width: 50vw;
    }
}

/* Extra large	xl	≥1200px */

@media (min-width: 1200px) {
    img.news-image {
        max-width: 40vw;
    }
}

/* Extra extra large	xxl	≥1400px */
@media (min-width: 1400px) {
    img.news-image {
        max-width: 40%;
    }
}



.theme--default .bloginfo h2 {
	font-family: "PT Sans";
}



span.aggregated-data-timestamp {
    font-size: 0.7rem;
    /* vertical-align: sub; */
    font-family: 'PT Sans';
}


.decoration-primary:before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    background: #005437;
    width: 100vw;
    height: 125%;
    right: 0;
    top: 50%;
    transform: skewX(-12deg) translateY(-50%);
}


.decoration-primary {
    position: relative;
    z-index: 0;
    /*cursor: pointer;*/
    display: inline-block;
    padding-right: 2.5rem;
    color: #fff;
}

.decoration-primary .btn {
    vertical-align: top;
}


/* Highlighted class, see https://afd-verbot.jetzt/de/abgeordnetentool for example */
.highlighted {
    position: relative;
    display: inline-block;
    font-weight: 900;
}
.highlighted:after {
    content: "";
    position: absolute;
    z-index: -1;
    margin-left: -2%;
    top: 30%;
    left: 0;
    height: 70%;
    width: 104%;
    transform: skewY(-4deg);
    transform-origin: left bottom;
    background: #FFF17A; /* Hier eine GRÜNE Farbe */
}

.highlighted.tanne:after {
	background: #005538;
}

.highlighted.klee:after {
	background: #008939;
}

.highlighted.grashalm:after {
	background: #8ABD24;
}

.highlighted.sand:after {
	background: #F5F1E9;
}

.highlighted.himmel:after {
	background: #0BA1DD;
}

.highlighted.sonne:after {
	background: #FFF17A;
}

.highlighted.pink:after {
	background: #ff6dae;
}

.sunflower-background {
    background-image: url(/static/images/sunflower.jpg);
    position: relative;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    overflow: hidden;
    padding: 3.5rem 0;
}

.sunflower-background h1 {
    color: #fff;
    text-shadow: 0 5px 15px black;
}


.carousel-caption {
    background-color: #005437;
    opacity: 0.91;
}

.calendarnode {
    padding-top: 0.44rem;
}

.alert p {
    margin-bottom: 0;
}

.news-table .news-summary p, .news-table .news-title, .news-table .news-subtitle, .news-table .news-meta {
    font-size: smaller;
}

.news-table .news-meta {
    font-size: small;
}


.folder-list li.folder {
    list-style-image: url('/static/images/Icons-mini-folder.gif');
}

.folder-list li.file {
    list-style-image: url('/static/images/Icons-mini-page_text.gif');
}

.folder-list li.image {
    list-style-image: url('/static/images/Icons-mini-image.gif');
}



.folder-list li > ul, .folder-list li > ol {
    margin-bottom: 0;
    margin-left: 0;
}
